{% extends 'base.html' %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="{% static 'css/taskapp.css' %}">
   <div class="ui main text container segment center">
      <div class="huge header">New Task</div>
      <form method="POST" class="ui form">
      {% csrf_token %}
         <div class="field">
            <label>Title</label>
            <input type="text" name="taskName" required>
         <div class="field">
            <label>Description</label>
            <textarea rows={2} name="description" required></textarea>
         </div>

            {% if BadTaskName %}
               <p style="color:red">This task already exists!</p><br>
            {% endif %}
            
         <button type="submit" class="btn btn-info btn-xs" formmethod="post">Create</button>
      </form>
   </div>
{% endblock content %}

