{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/taskapp.css' %}">

<div class="ui main text container segment center">

  <div class="huge header" >FaceID Setup</div>

  <form method="post" class="ui form" enctype="multipart/form-data"> {% csrf_token %}
    <div class="field">
      <label>Select image:</label>
      <input type="file" id="img" name="image" accept="image/*" multiple> 
    </div>

    <div class="field">  
      <button type="submit" class="btn btn-success">Submit</button>
      <button type="submit" name='noID'class="btn btn-primary" id="signUp" value="true">Back</button>
    </div>

  </form>
  
</div>

{% endblock %}
