{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/taskapp.css' %}">
{% if userTasks %}
<div class="container">
    <h1 id="header">Your Tasks</h1>
      <table class="table rounded">
        <thead>
          <tr>
            <th scope="col">Task Name</th>
            <th scope="col">Task Description</th>
            <th scope="col">Time Worked On</th>
            <th scope="col"></th>
          </tr>
        </thead>
          {% for task in userTasks %}
          <tbody>
          {% if task.currentlyWorking %}
          <tr class="table-default started">
                {% else %}
                <tr class="table-default">
                {% endif %}
                   <td >{{ task.taskName }}</td>
                   <td >{{ task.description }}</td>
                   <td >{{ task.totaltime }}</td>
                   <td id="table-buttons">
                      {% if not task.currentlyWorking %}
                      <form  method="post"> {% csrf_token %}
                         <button id="start" type="submit" class="btn btn-success pull-left" name="{{task.taskName}}Start" formmethod='post' value='True'>Start</button>
                      </form>
                      {% else %}
                      <form  method="post"> {% csrf_token %}
                         <button type="submit" class="btn btn-warning pull-right" name="{{task.taskName}}Stop" formmethod='post' value='True'>Stop</button>
                      </form>
                      {% endif %}
                     <form method='post'> {% csrf_token %}
                       <button type='submit' class="btn btn-danger pull-right" name='{{task.taskName}}Delete' formmethod="post" value=True>Delete</button>
                     </form>
                   </td>
                </tr>
             </tbody>
          {% endfor %}
      {% else %}
         <h2>No Tasks Yet</h2>
      {% endif %}
    </table>

    <form  method="post"> {% csrf_token %}
       <button class="btn btn-dark" type="submit" name="createTask" formmethod='post' value='True'>Create Task</button>
	   <button class="btn btn-info btn-xs" type="submit" name="signOut" formmethod='post' value='True'>
          <span class="glyphicon glyphicon-trash"></span> Log out
       </button>
    </form>
</div>

<script src="{% static 'js/viewTasks.js' %}"></script>

{% endblock %}
